body{
    background: linear-gradient(#e66465, #9198e5);
}
header{
    border: solid;
    text-align: center;
    margin-bottom: 25px;
    border-radius: 10px;
}
div.menugauche{
    text-align: center;
    border: solid;
    width: 15%;
    height: 800px;
    border-radius: 10px;
    float: left;
    
}
div.menudroite{
    border: solid;
    float: left;
    margin-left: 20px;
    width: 83%;
    height: 800px;
  
}
iframe{
    margin-top: 40px;
    margin-left: 20px;
    height: 600px;
    width: 1000px;
    border: solid;
    float: left;


}
div.photo{
    float: right;
    position: absolute;
    margin-left: 1150px;
    margin-top: 20px;
   

}
div#menu{
    text-align: center;
    width: 100px;
    color: white;
    margin-left: 85px;
    
}
div#menu ul{
padding: 0;
width: 100px;
border: 1px solid;
margin: 0px;
color: white;


}
div#menu ul li{
    position:relative;
    list-style: none;
    border-bottom: 1px solid;

}
div#menu ul ul{
    position: absolute;
    top: 0;
    left: 100px;
    display: none;
}
div#menu li a{
    text-decoration: none;
    padding: 4px 0 4px 8px;
    display: block;
    border-left: 8px solid #BBB;
    width: 84px;
}
div#menu li a:hover{
    border-left-color: red ;
}

div#menu ul.niveau1 li.sousmenu:hover ul.niveau2,div#menu ul.niveau2 li.sousmenu:hover ul.niveau3{
    display: block;
    color: white;
}
div#menu li:hover{
    background: #edd;
}
div#menu li.sousmenu:hover{
    background: #edd;
}
div#menu ul ul li a:hover{
    border-left-color:#00FF00 ;
}
div#menu ul ul ul li a:hover{
    border-left-color:#0000FF ;
}