body{
	background-color:lightgrey;

}

.conteneur{
	width: 780px;
	margin:auto;
	border:solid;	
	box-shadow: 10px 10px 10px;
	border-color: #3388CC;
	border-radius: 5%;
}
header {
    background-color:;
    color: black;
    padding: 40px;
    border-radius: 10px;
    margin-left: 20px;
	margin: 10px;
	
	display:flex;
	justify-content: space-between;
}


li{

	font-style:italic;
}
}

.photo{
	float:left;
	width: 20%
}
p{
	float: left;
	width:78%;
	margin-right: 300px;
	color:blue;
}

section{
	color:blue;
	 padding: 40px;
    border-radius: 10px;
    margin-left: 20px;
	margin: 10px;
	
	
}


h2{
font-style: italic;
text-align: center;


}
h3{
	font-style: italic;
	text-align: center;
}

.gauche{
	display:inline-block;
	border:solid;
	border-color: red;
}

.droite{
	display:inline-block;
	border:solid;
	float:right;
}

.testgauche{
	display:inline-block;
	
	border-color: red;
}

.testdroite{
	display:inline-block;
	text-align: center;
}
.titre{
	font-weight: bold;
	font-style: italic;
	font-size: 20px;
	color:black;


}
ul{
	font-weight: bold;
	font-style: 16px;
}

}

}
