body {
      background: linear-gradient(135deg, #FF5733, #FFC300);
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
}

.fieldset {
    border: 2px solid #F00;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 500px;
}

legend {
    font-weight: bold;
    color: #333;
}

p {
    font-size: 18px;
}

label {
    font-size: 16px;
    margin-left: 5px;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

.bouton {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.bouton:hover {
    background-color: #45a049;
}

.cercle {
    background-image: url(photo.png);
    background-size: cover;
    border: 10px solid #fff;
    border-radius: 50%;
    text-align: center;
    margin: 5px;
    width: 150px;
    height: 150px;
}

.div {
    background-color: #808080;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease, width 0.2s ease;
    max-width: 500px;
}

.div:hover {
    background-color: #555;
    width: 365px;
}

.fieldset {
    border: 2px solid #FFF; /* Bordure blanche */
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    background: linear-gradient(135deg, #FF5733, #FFC300);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Ombre légère */
}
